.newRoomSpan {
    margin-left: 10px;
}

.MuiButtonBase-root.MuiIconButton-root.deleteButton {
    outline: none;
}


.roomElement {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 73px;

}
